body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}
.header-section {
  background-image: url(./images/image-hero-mobile.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 9% 6%;
}
.cards {
  display: block;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 80%;
}
.card {
  border: 1px solid rgba(247, 245, 245, 0.822);
  border-radius: 10px;
  text-align: center;
  padding: 10%;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 4px 4px 12px 0px #cccccca8;
}
.master-card .mastercraft {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
}
.text {
  color: hsl(0, 0%, 48%);
  font-size: 16px;
  font-weight: 300;
}
.btn {
  background-color: hsl(176, 50%, 47%);
  color: whitesmoke;
  padding: 30px 40px;
  border-radius: 36px;
  cursor: pointer;
}
.master-card_btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.back-btn {
  padding: 18px 50px;
  cursor: pointer;
  font-weight: 700;
}
.number {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
}
.line {
  width: 30%;
  height: 1px;
  background-color: #ccc;
  margin: 25px auto;
}
#myRange {
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(
    90deg,
    hsl(174, 86%, 45%) 80%,
    hsl(224, 65%, 95%) 20%
  );
  appearance: none;
  border-radius: 10px;
  height: 12px;
  outline: none;
}
#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid hsl(174, 86%, 45%);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: hsl(174, 86%, 45%);
  cursor: pointer;
  z-index: 20;
}
.about-card {
  text-align: left;
}
.small-card {
  border: 1px solid #ddd;
  padding: 0% 8%;
  border-radius: 10px;
  margin-bottom: 30px;
}
.small-card h5 {
  color: hsl(176, 50%, 47%);
}
.detail {
  align-self: center;
  margin-bottom: 9px;
  margin-left: 10px;
  color: hsl(0, 0%, 48%);
}
.quantity {
  display: flex;
}
.select-btn {
  width: 112px;
  padding: 16px 24px;
  margin: 20px 0;
}
.deactived-card {
  position: relative;
}
.deactived-card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(253, 252, 252, 0.438);
  z-index: 100;
}
.select-btn.deactived {
  color: white;
  background-color: #ccc;
}
@media (min-width: 550px) {
  .header-section {
    background-image: url(./images/image-hero-desktop.jpg);
    background-size: contain;
    height: 100vh;
  }
  .header {
    padding: 3%;
  }
  .cards {
    max-width: 60%;
  }
  .master-card_btn {
    justify-content: space-between;
  }
  .funding-card-info {
    display: flex;
  }
  .funding-info {
    display: flex;
  }
  .line {
    width: 1px;
    height: 62px;
    margin: 10px 20px;
  }
  .small-card-heading,
  .small-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
